ion-menu ion-content {
  --background:linear-gradient(125deg, #2d388a 0%, #00aeef 100%);
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
  background-color: rgba(255, 255, 255, .1); 
}

ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
  color: rgb(255, 255, 255);
}


ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;
  font-family: Poppins;
  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;
  font-family: Poppins;
  margin-bottom: 18px;
  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;

}

ion-menu.md ion-item.selected {
  --background: #3266a6;
}
ion-menu.md ion-item {
  --background: rgba(255, 255, 255, 0.1); 
}

ion-menu.md ion-item.selected ion-icon {
  --background:linear-gradient(125deg, #2d388a 0%, #00aeef 100%);
}

ion-menu.md ion-item ion-icon {
  color: #033169;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
  font-family: Poppins;
  color: white;

}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: white;
}


ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: white;
  font-family: Poppins;
}
