<ion-content>
  <div class="card-container">
    <ion-card class>
      <ion-row>
        <ion-col size-md="3" size="12" class="bglogo">
          <img
            src="../assets/img/bg.PNG"
          />
        </ion-col>
        <ion-col size-md="9" size="12">
          <ion-card-header>
            <ion-card-title>Welcome to ARWASA<br>Water Billing App</ion-card-title>
          </ion-card-header>
          <ion-item lines="none">
            <ion-button slot="end" shape="round" color="primary" [routerLink]="['/login']">Get Started</ion-button>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-card>
  </div>
</ion-content>